@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-default: #1896ff;
    --color-primary-light: #99d0ff;
    --color-primary-dark: #1896ff;

    --color-secondary-default: #a8a8a8;
    --color-secondary-light: #e7e7e7;
    --color-secondary-dark: #272727;

    --color-tertiary-default: #a8a8a8;
    --color-tertiary-light: #e7e7e7;
    --color-tertiary-dark: #272727;

    --color-success: green;
    --color-warning: yellow;
    --color-danger: red;

    --color-header: #e7e7e7;
    --color-footer: #e7e7e7;
    --color-section: #e7e7e7;
    --color-text: #272727;
}
